<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="https://6k2ldk.github.io/assets/images/favicon/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="https://6k2ldk.github.io/assets/images/favicon/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="https://6k2ldk.github.io/assets/images/favicon/favicon-16x16.png"
/>
<link
  rel="manifest"
  href="https://6k2ldk.github.io/assets/images/favicon/site.webmanifest"
/>
<link
  rel="mask-icon"
  href="https://6k2ldk.github.io/assets/images/favicon/safari-pinned-tab.svg"
  color="#5bbad5"
/>
